html, *, *::before, *::after  {
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

input, textarea, select, button {
  outline: none;
}

button, a, i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: unset;
}

input {
    line-height: normal;
}

img {
    display: block;
    max-width: 100%;
}
  
li{
    list-style-type: none;
}

.btn {
  display: inline-block;
  font-size: 15px;
  font-weight:200 !important;
  line-height: calc(33 / 22);
  padding: 7px 30px;
  border: 0;
  border-radius: 100rem;
  cursor: pointer;
  &--primary {
    background-color: $primary-color !important;
    color: #fff !important;
  } 
  &--secondary {
    background-color: #fff;
    color: $main-blue;
  }
  &--revert-second {
    background-color: $main-blue;
    color: #fff;
  }
}

.text-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  color: $text-color;
  margin-bottom: 35px;

}
.text-small {
 font-size: 15px; 
 color: $secondary-color;
 font-weight: 500;
}